QTableView{  
    border: 1px solid #d8d8d8 ;
    alternate-background-color: rgb(255, 255, 255); /*行交替颜色*/  
}
QTableView::item:!alternate:!selected{  
    background-color: rgb(246, 246, 246);    /*交替行的另一颜色*/  
}
QTableView::item:selected{ 
	color: #ffffff; 
    background-color: #398dee    /*交替行的另一颜色*/  
}