QPushButton
{
	border:none;
	background-color: #398DEE;
	/*font-family: "Arial";*/
	color: #FFFFFF;
	font-size: 12px;
	text-align: center; 
	border-radius:5px;
}
QPushButton:hover
{
	background-color: #297Dff;
}
QPushButton:pressed
{
	color: #ffffff;
	background-color: #84b3ea;
}
QPushButton:checked
{
	color: #ffffff;
	background-color: #84b3ea;
}
QPushButton:disabled
{
	color: #d8d8d8;
	background-color: #84b3ea;
}