QPushButton#moduleButton
{
	border-top:1px solid #CCCCCC;
	background-color: #FFFFFF;
	/*font-family: "Arial";*/
	color: #666666;
	font-size: 13px;
	text-align: center; 
}
QPushButton#moduleButton:hover
{
	background-color: #d8d8d8;
}
QPushButton#moduleButton:pressed
{
	color: #ffffff;
	background-color: #398DEE;
}
QPushButton#moduleButton:checked
{
	color: #ffffff;
	background-color: #398DEE;
}