QPushButton
{
	border:none;
	background-color: transparent;
	color: #007acc;
	font-size: 12px;
	text-align: center; 
}
QPushButton:hover
{
	color: #297Dff;
}
QPushButton:pressed
{
	color: #ff6161;
}
QPushButton:checked
{
	color: #ff6161;
}