QPushButton#moduleItem
{
	border-top:1px solid #CCCCCC;
	background-color: #FFFFFF;
	/*font-family: "Arial";*/
	color: #666666;
	font-size: 11px;
	text-align: align; 
}
QPushButton#moduleItem:hover
{
	background-color: #FFFFFF;
}
QPushButton#moduleItem:pressed
{
	background-color: #FFFFFF;
}
QPushButton#moduleItem:checked
{
	color: #398dee;
}